.loader {
  width: 13em;
  height: 13em;
  border: 1.4em solid #FFF;
  border-bottom-color: #0A5C70;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 